body{
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}
#optcontainer, #canvas{
	position: absolute;
	top: 0px;
	left: 0px;
}
#optcontainer{
	z-index: 100;
}
#canvas{
	z-index: 150;
}
#sourcecanvas{
	display: block;
	clear:both;
}
#previmage, #nextimage{
	margin: 0;
	padding: 0px 30px 0px 30px;
	color: #ffffff;
	width: 50px;
	text-align: center;
	background-color: #232323;
	border:1px solid #000000;
	display: inline;
}
address {
	position: absolute;
	z-index: 150;
	bottom: 10px;
	right: 10px;
	text-align: center;
	font-style: normal;
	font-size: 75%;
}
ul{
	margin:0;
	padding:0;
}
a{
	text-decoration: none;
}
a:hover{
	color: #DD0000;
}

